<p>footer works!</p>
<div class="footer">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Address</h4>
            <p>Haroon abad <br>pin code: 562050, Pakistan</p>
        </div>
        <div class="col-md-4">
            <h4>Address</h4>
            <p>Haroon abad <br>pin code: 562050, Pakistan</p>
        </div>
        <div class="col-md-4">
            <h4>Address</h4>
<button class="btn btn-outline-warning"><i class="fa fa-facbook-official" style="font-size: 36px;"></i></button>

        </div>
    </div>
</div>
</div>