<div class="container">
    <div class="row">

        <div class="col">

            <p class="h3 fw-bold text-primary"><i class="fa fa-eye"></i>View Contact</p>
            <p class="fst italic"> Google Fonts is a library of 1,451 open source font families and APIs for con venient
                use via CSS and Android. The library also has delightful and beautifully crafted icons for common
                actions and items. Download them for use in your digital products for Android, iOS, and web.

            </p>
        </div>
    </div>

</div>

<!--piner conditon base error message  -->

<div *ngIf="loading">
    <app-spiner></app-spiner>
</div>

<!--display error message-->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">
                    {{errorMessage}}
                </p>
            </div>
        </div>
    </div>

</div>

<!--view contact details -->

<div class="container" *ngIf="!loading &&  isNotEmpty()">
    <div class="row align-item-center">

        <div class="col-sm-4">
            <img [src]="contact.photo" alt="" class="contact-img-details">
        </div>

        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item">Name:
                    <span class="fw-bold">{{contact.name}}</span>
                </li>

                <li class="list-group-item">Email:
                    <span class="fw-bold">{{contact.email}}</span>
                </li>
                <li class="list-group-item">Mobile:
                    <span class="fw-bold">{{contact.mobile}}</span>
                </li>
                <li class="list-group-item">Title:
                    <span class="fw-bold">{{contact.title}}</span>
                </li>
                <li class="list-group-item">Group Name:
                    <span class="fw-bold">{{contact.groupId}}</span>
                </li>
               
                <li class="list-group-item">Company:
                    <span class="fw-bold">{{contact.company}}</span>
                </li>
               
            </ul>

        </div>
    </div>
<!-- <pre>{{group | json}}</pre> -->
 
 <div class="row mt-2">

        <div class="col">
            <a routerLink="/" class="btn btn-warning">Go Back</a>
        </div>
    </div>
</div>